<div class="test-wizard cmp-adaptiveform-wizard--vertical-stepper"
     data-test-wizard-submit="${properties.showSubmit ? 'true' : 'false'}"
     data-test-wizard-submit-label="${properties.submitLabel}"
     data-test-wizard-i18n-step="${'Step {0} of {1}' @ i18n}"
     data-test-wizard-i18n-previous="${'Previous' @ i18n}"
     data-test-wizard-i18n-next="${'Next' @ i18n}"
     data-test-wizard-i18n-submit="${'Submit' @ i18n}">
    <sly data-sly-resource="${resource.path @ resourceType='core/fd/components/form/wizard/v1/wizard'}"/>
</div>
